#hero{
    background: #585353;
    min-height: 100vh;
    position: relative;
}

#content {
    position: relative;
    z-index: 1;
}

.cover{
    width: 100%;
    height: 90%;
    padding-top: 134px;
}

.divider-line{
    width: 100%;
    background-color: white;
    margin-top: 70px;
    border: 2px solid #FFFFFF;
    filter: blur(2px);
    transform: rotate(0.21deg);
}

#black{
    position: absolute;
    width: 100%;
    height: 24.9%;
    margin-top: 71px;
    background: #000000;
}

.name{
    font-family: 'Kite One';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 72px;
    text-align: left;
    color: #FFFFFF;
    margin-left: 170px;
}

.author{
    font-family: 'Kite One';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 46px;
    text-align: left;
    color: #999999;
    margin-left: 170px;
}

.genre{
    font-family: 'Kite One';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 46px;
    text-align: left;
    color: #999999;
    margin-left: 170px;
}

.fullTime{
width: 100%;
height: 5px;
background: #B3B3B3;
border-radius: 50px;
margin-top: 21px;
}

.actualTime{
margin-top: -5px;
width: 144px;
height: 5px;
background: #39FF14;
border-radius: 50px;
}

.playback{
    display: flex;
    align-items: center;
    align-self: center;
    margin-left: 21.8%;
    margin-top: 22px;
    gap: 54px;
}

.fullVolume{
    width: 100%;
    height: 5px;
    background: #B3B3B3;
    border-radius: 50px;
    margin-top: 40px;
    }
    
.actualVolume{
    margin-top: 40px;
    width: 144px;
    height: 5px;
    background: #39FF14;
    border-radius: 50px;
}

.Volume{
    margin-top: 42px;
    display: flex;
    align-items:flex-start;
}